html, body {
  height: 100%;
  background-image: url("/images/alien.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.logo-box {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%; }

.footer-box {
  margin-top: 38.5%; }
  @media (max-width: 2560px) {
    .footer-box {
      margin-top: 22.5%; } }
  @media (max-width: 1920px) {
    .footer-box {
      margin-top: 38.5%; } }
  @media (max-width: 1600px) {
    .footer-box {
      margin-top: 49.5%; } }
  @media (max-width: 599px) {
    .footer-box {
      margin-top: 18%; } }

.make-it-center {
  margin-top: 15%; }

.header-bg {
  background-image: url("/images/terrestrials-bg.png");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 300ms;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 300ms; }
  @media (max-width: 2560px) {
    .header-bg {
      height: 200px; } }
  @media (max-width: 1920px) {
    .header-bg {
      height: 150px; } }
  @media (max-width: 599px) {
    .header-bg {
      background-image: url("/images/terrestrials-mobile.png"); } }

.logo {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 20px;
  top: 50%;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 300ms;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 300ms; }
  @media (max-width: 1600) {
    .logo {
      font-size: 120px; } }

.soon {
  margin-top: .5em;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 5s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 5s; }
  @media (max-width: 599px) {
    .soon {
      font-size: 14px; } }

.spring {
  margin-top: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 14s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 14s; }
  @media (max-width: 599px) {
    .spring {
      font-size: 10px; } }

.t-line {
  width: 500px;
  margin-bottom: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 300ms;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 300ms; }
  @media (max-width: 2560px) {
    .t-line {
      width: 1000px; } }
  @media (max-width: 1920px) {
    .t-line {
      margin-top: .5em;
      width: 800px; } }
  @media (max-width: 1600px) {
    .t-line {
      width: 600px; } }
  @media (max-width: 599px) {
    .t-line {
      margin-top: -4em;
      width: 150px; } }

.copyright {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #fff; }
  @media (max-width: 599px) {
    .copyright {
      font-size: 8px; } }

audio {
  background-color: #000;
  margin: auto;
  margin-top: 50%;
  display: block; }

/*# sourceMappingURL=main.css.map */
